@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/*! reasonable colors v0.4.0 | MIT License | https://github.com/matthewhowell/reasonable-colors */

:root {

	/* amber */
	/* hue 6 */
	--color-amber-1: #fff8ef;
	--color-amber-2: #ffe0b2;
	--color-amber-3: #b98300;
	--color-amber-4: #926700;
	--color-amber-5: #523800;
	--color-amber-6: #302100;

}

body,
button {
  font-family: 'Nunito', sans-serif;
  background-color: var(--color-amber-1);
  color: var(--color-amber-6);
}

button {
  border: 1px solid var(--color-amber-3);
  border-radius: 5px;
  padding: 5px 15px;
}

button:hover {
  background-color: var(--color-amber-6);
  color: var(--color-amber-1);
}


.card {
  border: 1px solid var(--color-amber-3);
  border-radius: 5px;
  width: 100px;
  height: 125px;
  margin: 20px;
  display: inline-block;
}

.card:hover {
  box-shadow: 10px 10px 20px var(--color-amber-3);
  background-color: var(--color-amber-3);
}


.container {
  display: flex;
  justify-content:center;
  align-items: center;
}

.container div {
  padding: 10px;
  text-align: center;
}

.header-item { flex: 1; }
.header-title { flex: 3; }

form#options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form#options #num-cards {
  line-height: 26px;
  margin: 10px 0px;
  background-color: var(--color-amber-1);
  border-radius: 5px;
  border: 1px solid var(--color-amber-3);
  font-family: 'Nunito';
  text-align: center;
}

form#options #num-cards:hover {
  background-color: var(--color-amber-3);
}