@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/*! reasonable colors v0.4.0 | MIT License | https://github.com/matthewhowell/reasonable-colors */

:root {

	/* sky */
	/* hue 16 */
	--color-sky-1: #e3f7ff;
	--color-sky-2: #aee9ff;
	--color-sky-3: #0094b4;
	--color-sky-4: #007590;
	--color-sky-5: #00404f;
	--color-sky-6: #001f28;

	/* emerald */
	/* hue 11 */
	--color-emerald-1: #dcffe6;
	--color-emerald-2: #5dffa2;
	--color-emerald-3: #00a05a;
	--color-emerald-4: #008147;
	--color-emerald-5: #004825;
	--color-emerald-6: #002812;

}

body,
button {
  font-family: 'Nunito', sans-serif;
  background-color: var(--color-sky-1);
  color: var(--color-sky-6);
}

button {
  border: 1px solid var(--color-sky-3);
  border-radius: 5px;
  padding: 5px 15px;
}

button:hover {
  background-color: var(--color-sky-6);
  color: var(--color-sky-1);
}


.card {
  /* border: 1px solid var(--color-sky-3); */
  box-shadow: 0px 0px 20px var(--color-sky-3);
  border-radius: 5px;
  width: 100px;
  height: 125px;
  margin: 20px;
}

.card:hover:not(.matched) {
  box-shadow: 0px 0px 40px var(--color-sky-3);
}


.container {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  width: 100%;
}

.container div {
  text-align: center;

}

.header-title {
  flex: 2;
}


form#options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form#options .format-chooser {
  display: flex;
  padding: 0px;
}

form#options .format-chooser .format-item {
  padding: 0px 5px;
}

form#options #num-cards {
  line-height: 26px;
  margin: 10px 0px;
  background-color: var(--color-sky-1);
  border-radius: 5px;
  border: 1px solid var(--color-sky-3);
  font-family: 'Nunito';
  text-align: center;
}

form#options #num-cards:hover {
  background-color: var(--color-sky-2);
}

#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-card {
  background-color: var(--color-sky-2);
  border-radius: 5px;
  margin: 10px;
  width: 100px;
}

.header-card-title {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 800;
  margin-bottom: 5px;
}

.header-card-value {
  font-size: 20px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 5px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#end-game-message {
  background-color: var(--color-emerald-1);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  color: var(--color-emerald-4);
  border: 1px solid var(--color-emerald-2);

}

#page-container {
  position: relative;
  min-height: 100vh;
}

#game {
  padding-top: 75px;
  padding-bottom: 75px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  text-align: center;
}

.header-item { margin-top: 10px;}

/* Mobile */
@media only screen and (max-width: 450px) {
  .header-title { order: 1; }
  .header-title h1 { font-size: 24px; }
  .scores { order: 2; }
  .counts { display: none; }

  .card {
    /* border: 1px solid var(--color-sky-3); */
    box-shadow: 0px 0px 20px var(--color-sky-3);
    border-radius: 5px;
    width: 50px;
    height: 75px;
    margin: 10px;
  }

}
/* Tablet */
@media only screen and (min-width: 451px) and (max-width: 960px) {
  .header-title { order: 1; }
  .scores { order: 2; }
  .counts {order: 3; }
}
/* Desktop */
@media only screen and (min-width: 961px) {
  .card:hover:not(.matched) {
    background-color: var(--color-sky-3);
  }
}